html {
  box-sizing: border-box;
}



body {
  text-align: center;
  align-content: center;
  background-color: #333333;
}

#cabecera {
  text-align: center;
  align-content: center;
  border-top: 1px ;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #00FFA6;
  border-bottom: 1px solid #00FFA6;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #00FFA6;
  background: #FFFFFF;
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: #333333;
  padding: 10px;
  width: auto;
  min-width: auto;
  height: 59px;
  z-index: 100;
margin: auto;
}
/*inicio de los estilos del menú*/
#menu-bar {
align-content: center;
text-align: center;
width: 1200px;
margin: 0 auto;
padding: 6px 6px 6px 6px;
height: 43px;
line-height: 100%;
border-radius: 0px;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
box-shadow: 0px 0px 0px #666666;
-webkit-box-shadow: 0px 0px 0px #666666;
-moz-box-shadow: 0px 0px 0px #666666;
background: #333333;
border: ridge 1px #00FFA6;
position: relative;
z-index:999;
}
#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 8px 0px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: normal;
  font-family: 'trebuchet ms';
  font-style: normal;
  font-size: 14px;
  color: #00FFA6;
  text-decoration: none;
  display: block;
  padding: 6px 20px 7px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  text-shadow: 2px 2px 3px #000000;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #00FFA6;
  color: #000000;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #00FFA6 !important;
  color: #333333 !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0px 0px 0px #333333;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #333333;
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 31px;
  left: 0;
  border: solid 1px #00FFA6;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-box-shadow: 0px 0px 0px #691EFF;
  -moz-box-shadow: 0px 0px 0px #691EFF;
  box-shadow: 0px 0px 0px #691EFF;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#00FFA6 !important;
  font-size:12px;
  font-style:normal;
  font-family:'trebuchet ms';
  font-weight: normal;
  text-shadow: 0px 0px 0px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}
/*fin de los estilos del menú*/

h2 {
  font-family: sans-serif;
  color: white;
  text-transform: uppercase;
  margin: 30px 0;
}

ul.nuestros_productos {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nuestros_productos li {
  float: left;
  width: 50%;

  text-align: center;

}

ul.nuestros_productos li:nth-child(an+b) {
  clear: both;
}

ul.nuestros_productos li img {
  border: 10px solid gray;
}

ul.nuestros_productos li img:hover {
  border: 10px solid #00FFA6;
}

ul.nuestros_productos li p {
  font-size: 28px;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  margin-top: 10px;
}

ul.nuestros_productos li p span {
  font-size: 40px;
  color: #00FFA6;
}

.boton {
  background-color: #ffce00;
  padding: 10px 40px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

/** Footer **/
footer {

}
